<div class="container">
    <h1 class="mt-3">Hostel List</h1>
    <div class="d-flex justify-content-end mt-3">
    <a class="btn btn-primary" [routerLink]="['/admin/hostels/add']">Add Hostel</a>
    </div>
    <ng-container *ngIf="hostels">
        <table class="table table-bordered mt-3">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hostel of hostels">
               <td>{{hostel.id}}</td> 
               <td>{{hostel.name}}</td> 
               <td>{{hostel.description}}</td> 
            </tr>
          </tbody>
        </table>
      </ng-container>
</div>